{% extends "layout.html" %}

{% block title %}
    Change_Password
{% endblock %}

{% block content %}
    <form action="/change" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="old_password" placeholder="old_password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="new_password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm new Password" type="password">
        </div>
        <button class="btn btn-primary center" type="submit">Change password</button>
    </form>
{% endblock %}
